{$SITE_ADDRESS::80} {
  encode zstd gzip
  reverse_proxy app:3000

  header {
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy strict-origin-when-cross-origin
    -Server
  }

  log {
    output stdout
    format json
  }
}
